# Application
APP_VERSION=v1
DOMAIN=localhost
SERVER_PORT=:8080

# Database
DB_PATH=./data/forma.db

# Security & Auth
BCRYPT_COST=12
JWT_TTL=4380
JWT_SECRET_KEY=change_me_to_a_very_long_random_string_in_production

# Features
SHORT_ID_LENGTH=8
